@import "./../../styles/variables";
.h1,
.h2,
.h3,
.h4,
.secondary-color {
  color: $color-primary-300;
}
.h1 {
  @include h1Font;
  margin-bottom: 2rem;
}
.h2 {
  @include h2Font;
  margin-bottom: 1.5rem;
}
.h3 {
  @include h3FontMedium;
  margin-bottom: 1.4rem;
}
.p {
  @include bodyFontRegular;
  margin-bottom: 1.6rem;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  img {
    width: 80%;
    max-height: 40rem;
    object-fit: contain;
  }
  p {
    margin: 0.5rem 0;
    @include bodyFontSmRegular;
    color: $color-primary-300;
  }
}
.title {
  color: $color-primary-500;
}
.link {
  color: $color-primary-300;
  transition: 0.2s all;
  &:hover {
    color: darken($color-primary-300, $amount: 20);
  }
}
.quote {
  display: block;
  margin-top: 4rem;
  @include h3FontRegular;
  padding-left: 3rem;
  border-left: 2px solid $color-primary-300;
}
.cite {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 3rem;
  @include bodyFontRegular;
  color: $color-primary-300;
}
.listBullet {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
  li {
    @include bodyFontRegular;
    margin-bottom: 0.4rem;
  }
}

/* YOUTUBE VIDEO */

.yt {
  width: 80%;
  margin: 0 auto 2rem auto;
  p {
    margin: 0.5rem 0;
    @include bodyFontSmRegular;
    color: $color-primary-300;
    text-align: center;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .yt {
    width: 100%;
  }
  .image {
    img {
      width: 100%;
    }
  }
  .quote {
    margin-top: 3rem;
    padding-left: 2rem;
  }
  .cite {
    padding-right: 1rem;
  }
}
