@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }
  *[data-theme="light"] {
    --color-base-100: 255 255 255;
    --color-base-200: 247 247 249;
    --color-base-300: 230 230 230;
    --color-base-content: 74 74 74;

    --color-neutral: 74 74 74;
    --color-neutral-focus: 129 129 129;
    --color-neutral-content: 247 247 247;

    --color-primary: 255 51 95;
    --color-primary-focus: 195 64 92;
    --color-primary-content: 74 74 74;

    --color-secondary: 0 0 0;
    --color-secondary-focus: 10 10 10;
    --color-secondary-content: 255 255 255;
  }
  *[data-theme="dark"] {
    --color-base-100: 77 77 77;
    --color-base-200: 90 90 90;
    --color-base-300: 110 110 110;
    --color-base-content: 245 245 245;

    --color-primary: 255 51 95;
    --color-primary-focus: 195 64 92;
    --color-primary-content: 74 74 74;

    --color-secondary: 0 0 0;
    --color-secondary-focus: 10 10 10;
    --color-secondary-content: 255 255 255;

    --color-neutral: 74 74 74;
    --color-neutral-focus: 129 129 129;
    --color-neutral-content: 247 247 247;
  }
  *[data-theme="pikachu's thunderbolt"] {
    --color-base-100: 255 255 102; /* Bright Yellow */
    --color-base-200: 255 204 0; /* Yellow */
    --color-base-300: 204 153 0; /* Dark Yellow */
    --color-base-content: 40 40 40; /* White */

    --color-primary: 0 102 204; /* Electric Blue */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 51 102; /* Dark Blue */

    --color-secondary: 204 0 0; /* Red */
    --color-secondary-content: 255 255 255; /* White */
    --color-secondary-focus: 102 0 0; /* Dark Red */

    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 153 153 153; /* Medium Gray */
    --color-neutral-content: 51 51 51; /* Dark Gray */
  }
  *[data-theme="mewtwo's vengeance"] {
    /* Base Colors (Variation of Mewtwo Purple) */
    --color-base-100: 179 120 235; /* Light Mewtwo Purple */
    --color-base-200: 153 85 204; /* Mewtwo Purple */
    --color-base-300: 128 51 179; /* Dark Mewtwo Purple */
    --color-base-content: 255 255 255; /* White */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 0 0 0; /* Electric Blue */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 122 204; /* Darker Blue */

    /* Secondary Colors */
    --color-secondary: 179 120 235; /* Light Mewtwo Purple */
    --color-secondary-content: 255 255 255; /* White */
    --color-secondary-focus: 153 85 204; /* Darker Mewtwo Purple */

    /* Neutral Colors */
    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="classic pokeball"] {
    /* Base Colors */
    --color-base-100: 255 0 0; /* Red */
    --color-base-200: 204 0 0; /* Dark Red */
    --color-base-300: 153 0 0; /* Even Darker Red */
    --color-base-content: 255 255 255; /* White */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 0 0 0; /* White */
    --color-primary-content: 255 255 255; /* Black */
    --color-primary-focus: 230 230 230; /* Light Gray */

    /* Secondary Colors */
    --color-secondary: 0 0 0; /* Black */
    --color-secondary-content: 255 255 255; /* White */
    --color-secondary-focus: 51 51 51; /* Dark Gray */

    /* Neutral Colors */
    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="viridian forest"] {
    /* Base Colors */
    --color-base-100: 192 255 192; /* Light Green */
    --color-base-200: 153 204 153; /* Medium Green */
    --color-base-300: 102 153 102; /* Dark Green */
    --color-base-content: 0 0 0; /* Black */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 0 102 5; /* Forest Green */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 51 25; /* Darker Forest Green */

    /* Secondary Colors */
    --color-secondary: 255 204 102; /* Peach */
    --color-secondary-content: 0 0 0; /* Black */
    --color-secondary-focus: 204 163 82; /* Darker Peach */

    /* Neutral Colors */
    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="eevee's evolutions"] {
    /* Base Colors */
    --color-base-100: 204 153 102; /* Eevee Brown */
    --color-base-200: 255 204 51; /* Flareon Orange */
    --color-base-300: 255 153 102; /* Jolteon Yellow */
    --color-base-content: 0 0 0; /* Black */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 0 102 204; /* Vaporeon Blue */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 51 102; /* Darker Vaporeon Blue */

    /* Secondary Colors */
    --color-secondary: 255 204 102; /* Peach */
    --color-secondary-content: 0 0 0; /* Black */
    --color-secondary-focus: 204 163 82; /* Darker Peach */

    /* Neutral Colors */
    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="karp karp magikarp"] {
    /* Base Colors */
    --color-base-100: 255 255 255; /* White */
    --color-base-200: 255 255 255; /* White */
    --color-base-300: 255 255 255; /* White */
    --color-base-content: 255 0 0; /* Red */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 0 102 204; /* Blue */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 51 102; /* Dark Blue */

    /* Secondary Colors */
    --color-secondary: 255 204 0; /* Gold */
    --color-secondary-content: 0 0 0; /* Black */
    --color-secondary-focus: 204 163 0; /* Darker Gold */

    /* Neutral Colors */
    --color-neutral: 204 204 204; /* Light Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="gengars hounting shadows"] {
    /* Base Colors */
    --color-base-100: 102 102 102; /* Dark Gray */
    --color-base-200: 77 77 77; /* Medium Gray */
    --color-base-300: 51 51 51; /* Dark Gray */
    --color-base-content: 255 255 255; /* White */

    /* Primary Colors (Readable on Base Colors) */
    --color-primary: 239 16 225; /* Purple */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 82 0 122; /* Darker Purple */

    /* Secondary Colors */
    --color-secondary: 204 0 0; /* Red */
    --color-secondary-content: 255 255 255; /* White */
    --color-secondary-focus: 163 0 0; /* Darker Red */

    /* Neutral Colors */
    --color-neutral: 153 153 153; /* Medium Gray */
    --color-neutral-focus: 128 128 128; /* Medium Gray */
    --color-neutral-content: 0 0 0; /* Black */
  }
  *[data-theme="flames of charizard"] {
    /* Base Colors (Shiny Variations of Gold) */
    --color-base-100: 255 204 0; /* Shiny Gold */
    --color-base-200: 255 153 0; /* Bright Shiny Gold */
    --color-base-300: 255 102 0; /* Shimmering Gold */
    --color-base-content: 0 0 0; /* Black */

    /* Primary Colors (Readable on Shiny Base Colors) */
    --color-primary: 0 102 204; /* Blue */
    --color-primary-content: 255 255 255; /* White */
    --color-primary-focus: 0 51 102; /* Dark Blue */

    /* Secondary Colors */
    --color-secondary: 255 204 0; /* Shiny Gold */
    --color-secondary-content: 0 0 0; /* Black */
    --color-secondary-focus: 204 163 0; /* Darker Shiny Gold */
  }
}

@layer components {
  .color-circle {
    @apply w-[25px] h-[25px] rounded-full border-[2px] border-white  ml-[-5px];
  }

  .social-icon {
    @apply group-hover:fill-primary-focus fill-base-100 transition-all duration-300;
  }
  .link-hover {
    @apply relative after:scale-x-0 hover:after:scale-x-100 after:w-[100%] after:-translate-x-1/2 after:origin-left after:left-[50%] after:absolute after:h-[2px] after:bg-base-content/50 after:bottom-[-8px] after:transition-all after:duration-300;
  }
  .main-bg {
    @apply absolute  left-0 top-0 bottom-0 right-0 z-[-1] w-full h-full overflow-hidden bg-gradient-to-br from-base-100/10 to-base-300;
  }
  .list-dot {
    @apply w-[5px] h-[5px] bg-base-content inline-block translate-y-[-3px] mr-[10px];
  }
}

@layer utilities {
  .container-wide {
    @apply w-full max-w-[1110px] mx-auto max-[1158px]:px-[16px];
  }
  .container-large {
    @apply w-full max-w-[850px] mx-auto;
  }
  .container-article {
    @apply w-full max-w-[700px] mx-auto max-[732px]:px-[16px];
  }

  .article-h2 {
    @apply text-headingMMobile md:text-headingM mt-[40px] mb-[20px] uppercase border-b-[1px] border-base-content/20 font-bold;
  }
  .article-h3 {
    @apply text-headingSMobile md:text-headingS mb-[10px] mt-[24px] font-bold;
  }
  .article-p {
    @apply mb-[8px] text-bodyMMobile md:text-bodyM;
  }

  .article-emphesise {
    @apply text-primary font-bold;
  }
  .article-text-link {
    @apply border-b-[3px]  border-primary hover:border-none hover:text-primary transition-all duration-200;
  }
  .page-padding {
    @apply pt-[55px] md:pt-[100px] pb-[40px] md:pb-[60px];
  }
  .transition-universal {
    @apply transition-all duration-300;
  }
  .hover-primary {
    @apply hover:fill-primary hover:text-primary transition-all duration-300;
  }
  .primary-gradient {
    @apply bg-gradient-to-br from-primary to-primary-200;
  }
  .primary-gradient-hover {
    @apply bg-gradient-to-br from-primary/40 to-primary-200/40;
  }
  .form-input {
    @apply p-[10px] border-[2px] border-base-300  w-full bg-transparent focus:bg-base-100 focus:border-transparent outline-none rounded-[5px] placeholder:text-base-content  transition-universal;
  }
  .test-border {
    @apply border-[1px] border-red-500;
  }

  .text-gradient {
    background: linear-gradient(
      90deg,
      var(--color-primary) 2.34%,
      var(--color-secondary) 100.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.tap-highlight-removed {
  -webkit-tap-highlight-color: transparent;
}
